body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 500px;
    height: auto;
}

.header-hero-section, .footer {
    background-color: #1F2937;
}

.header-hero-section {
    display: flex;
    justify-content: center;
}

.header-hero-block {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 1100px;
}

.header, .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 60px;
    flex: 0 0 auto;
}

.hero {
    padding-top: 50px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.hero-sidepanel {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex: 0 1 auto;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.subtext {
    font-size: 18px;
    font-weight: normal;
}

.white {
    color: #F9FAF8;
}

.grey {
    color: #E5E7EB;
}

.black {
    color: #1F2937
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

.links {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 20px;
}

.signup {
    background-color: #3882F6;
    width: 120px;
    height: 34px;
    border: none;
    border-radius: 10px;
    padding: 7px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.illustrations-section {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    font-size: 24px;
    font-weight: bolder;
    align-items: center;
}

.illustrations {
    padding-top: 13px;
    display: flex;
    gap: 65px;
    text-align: center;
    flex-wrap: wrap;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 350px;
    flex: 0 1 auto;
}

.illustration img {
    width: 200px;
    height: auto;
    border: 4px solid #3882F6;
    border-radius: 25px;
}
.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 340px;
    flex: 0 1 auto;
}

.quote {
    font-size: 22px;
    font-weight: lighter;
    font-style: italic;
    line-height: 30px;
}

.signature {
    font-weight: bold;
    align-self: flex-end;
}

.button-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    flex: 0 1 auto;
}

.button-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 140px;
    width: 900px;
    flex: 0 1 auto;
    border-radius: 10px;
}

.banner-title {
    font-size: 20px;
    margin: 5px;
}

.banner-subtext {
    font-weight: lighter;
    margin: 5px;
}

.banner-button {
    outline: white solid 2px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    flex: 0 0 auto;
    font-weight: lighter;
    font-size: 15px;
}